body, head {
	max-width: 1440px;
	max-height: 1024px;
	background: #E5E5E5;
	display: relative;
}
.back_list{
	background: #FFFFFF;
	width: 90.35%;
	height: 91%;
	border-radius: 10px;
	margin: 3.96% 4.79% 3.75% 8.79%;
}
.text_in_list{
	width: 50%;
	margin-left: 5%;
}
.first_text{
	font-family: Oxygen;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: 81px;
	padding-top: 30.78%;

	width: 74.1%;
	margin-bottom: 1.75%
}
.second_text{
	font-family: Oxygen;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 45px;

	width:72.25%;
	margin-bottom: 4.93%;
	margin-left: 1%;
}
.some_button{
	background: #000000;
	box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	width: 38.59%;
	height: 80px;
	margin-bottom: 45%;
	margin-left: 2%;
	color: #FFFFFF;

	font-family: Oxygen;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 38px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.vectors{
	width: 20%;
	display: flex;
	justify-content: space-between;
	padding-bottom: 12.71%;
	margin-left: 7%;
}
.images{
	float: right;
	padding: 56px 70px 62px 0;
}
.link_touch{
	text-decoration: none;
}
@media (max-width: 1301px;){
	.back_list{
		max-width: 970px;
	}
}
@media (max-width: 992px;){
	.back_list{
		max-width: 750px;
	}
}
@media (max-width: 767px;){
	.back_list{
		max-width: none;
	}
}
.img_Rectangle{
	width: 90%;
}